[submodule "github-upload"]
	path = github-upload
	url = https://github.com/ZiadNouh/github-upload.git
[submodule "github-slideshow"]
	path = github-slideshow
	url = https://github.com/ZiadNouh/github-slideshow.git
